.searchBut {
    background: $ny-yellow;
    border-radius: 15px;
    width: 60px;
    top: 0;
    right: 0;


}
.searchCat {
    border-color: $ny-yellow;
    border-radius: 15px;
    //width: 60px;
    top: 0;
    right: 0;


}

.catBut {
    margin-top: 100px;
    text-align: center;

    a {
        margin-right: 20px;
    }
}


